:root {
  --primary: #f5b754;
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    @apply transition-effect;
  }
}

@layer components {
  .transition-effect {
    transition: border-color 300ms ease, transform 300ms ease,
      background-color 300ms ease, color 300ms ease;
    transform-style: preserve-3d;
  }

  .container {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 375px) {
    .container {
      width: 100%;
      max-width: none;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .button {
    @apply py-4 px-10 bg-primary border border-primary rounded-[30px] text-sm font-light text-center flex items-center gap-4 text-dark hover:bg-white hover:border-white outline-none transition-effect;
  }

  .curv-button {
    @apply absolute left-0 bottom-0 text-center bg-dark;
    width: 85px;
    height: 85px;
    line-height: 55px;
  }

  .curv-button-link {
    @apply absolute rounded-full;
    top: 15px;
    left: 12px;
    right: 15px;
    bottom: 15px;
  }

  .curv-button-icon {
    @apply border border-primary rounded-full flex items-center justify-center hover:bg-primary  transition-effect;
    width: 60px;
    height: 60px;
    font-size: 20px;
  }

  .curv-step-number {
    @apply border border-neutral-800 bg-neutral-800 rounded-full flex items-center justify-center text-sm font-bold;
    width: 60px;
    height: 60px;
  }

  .curv-left-top {
    @apply absolute;
    top: -24px;
    left: -1px;
    transform: rotate(270deg);
  }

  .curv-right-bottom {
    @apply absolute;
    bottom: -1px;
    right: -24px;
    transform: rotate(270deg);
  }

  .curv-left-top-flip {
    @apply absolute;
    top: -2px;
    left: -20px;
    transform: rotate(90deg);
  }

  .curv-right-bottom-flip {
    @apply absolute;
    bottom: -25px;
    right: -2px;
    transform: rotate(90deg);
  }

  .text-small-primary {
    @apply text-primary text-xs font-light uppercase tracking-[6px];
  }

  .fleetSwiper.swiper {
    @apply max-lg:container;
  }
}

.homeSwiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid #fff;
  opacity: 100;
}

.homeSwiper .swiper-pagination-bullet:hover {
  border: 1px solid var(--primary);
  background: var(--primary);
}

.homeSwiper .swiper-pagination-bullet-active {
  border: 1px solid var(--primary);
  background: var(--primary);
}
